@page "/orderForm"
@page "/orderForm/{id:int}"
@page "/orderForm/{id:int}/{idArticle:int}"
@page "/orderForm/{id:int}/{idArticle:int}/{idClient:int}"

@inject RestClient RestClient
@inject HttpClient HttpClient
@inject NavigationManager Navigation
@inject IJSRuntime JS

<h3>Pedido Form</h3>


<div style="height:600px;overflow:scroll">
    <table class="table" border="1">


        <tr style="width:100px">
            <td style="background-color:dodgerblue"><b>Codigo</b></td>
            <td style="background-color:dodgerblue"><b>Nombre</b></td>
            <td style="background-color:dodgerblue"><b>Precio</b></td>
            <td style="background-color:dodgerblue"><b>Unidades</b></td>
            <td style="background-color:dodgerblue"><b>Subtotal</b></td>
            <td style="background-color:dodgerblue;width:300px" ><b>Opciones</b></td>
        </tr>

        <tr>

            <td>
                <input placeholder="Ingrese Codigo.." type="text" @bind="codeArticle" />
            </td>
            <td>
                <input  type="text" @bind="descriptionArticle"/>
            </td>
            <td>
            </td>
            <td>
                <input placeholder="Ingrese Las Unidades.." type="text" @bind="units" />
            </td>
            <td>
               
            </td>
            <td>
                @if (order.Id != 0)
                {
                    <button class="btn btn-success" style="background-color:dodgerblue;width:100px" @onclick="InsertPurchase">Introducir</button>
                    <a href="/articlesList/@order.Id"  class="btn " style="background-color:gold; width:100px">Articulos</a>
                }
            </td>
        </tr>
        @if (Purchases != null)
        {
            @foreach (var purchase in Purchases)
            {
                <tr>
                    <td>@purchase.ArticleNavigation.Code</td>
                    <td>@purchase.ArticleNavigation.Description</td>
                    <td>@purchase.ArticleNavigation.Price</td>
                    <td>@purchase.Units</td>
                    <td>@purchase.SubTotal</td>
                    <td>
                        <a class="btn btn-success" style="width:100px">Editar</a>
                        <a class="btn btn-danger" style="width:100px" @onclick="@(() => DeletePurchase(purchase.Id) )">Eliminar</a>
                    </td>

                </tr>
            }
        }

    </table>

</div>

<h3 style="text-align:end">Total:@order.Total</h3>
<button @onclick="SendOrder" class="btn btn-success">Guardar</button>
<button @onclick="CancelOrder" class="btn btn-danger">Cancelar</button>

@code {
    List<Purchase> Purchases = new List<Purchase>(); //la lista de compras que tendra el pedido
    [Parameter] public int id { get; set; }
    [Parameter] public int idArticle { get; set; }
    [Parameter] public int idClient { get; set; }

    public string codeArticle = "";
    public string descriptionArticle = "";
    public string units = ""; //las unidades
    public Order order { get; set; } = new Order();

    public async void InsertPurchase() //para introducir una compra
    {
        if(codeArticle == "") await JS.InvokeVoidAsync("alert", "Debe Ingresar Un Codigo ");
        else if (units == "") await JS.InvokeVoidAsync("alert", "Debe Ingresar Las Unidades"); //si no digito las unidades
        else
        {
            string getArticlebyCode = string.Format("/api/Articles?code={0}", codeArticle);
            Article article = new Article();
            try
            {
                article = (await HttpClient.GetFromJsonAsync<Response<Article>>(getArticlebyCode)).Content.First(); //obtenemos el articulo mediante su codigo

                if (article != null)
                {
                    float subTotal = int.Parse(units) * article.Price;

                    var newPurchase = new Purchase
                    { ArticleId = article.Id, SubTotal = subTotal, Units = int.Parse(units), OrderId = order.Id, ArticleNavigation = article };//creamos la nueva compra

                    var response = await HttpClient.PostAsJsonAsync<Purchase>("/api/Purchases", newPurchase); //mandamos lapeticion para introduicr la compra

                    Purchases.Add(newPurchase);
                    if (response != null)
                    {
                        units = codeArticle = descriptionArticle = ""; //reciniamos los campos
                        order.Total += subTotal; await InvokeAsync(StateHasChanged); //le sumamos al total el subtatoal de la cora introducida
                    }

                }
            }
            catch { await JS.InvokeVoidAsync("alert", "No existe Ese Codigo De articulo "); }

        }


    }

    public async void DeletePurchase(int idPurchase) //eliminar una compra
    {
        string deletePurchaseById = $"/api/Purchases?id={idPurchase}";
        var response = await HttpClient.DeleteAsync(deletePurchaseById); //eliminamos la compra
        if (response.Content != null)
        {
            bool ready = await GetPurchases();           //volvemos a obtener las compras
            if (ready) await InvokeAsync(StateHasChanged);
        }

    }


    public async void SendOrder()
    {
        order.ClientId = 1; //establecmeos sus propiedades
        var response = await HttpClient.PutAsJsonAsync<Order>("/api/Orders", order); //actualizamos el pedido
        Navigation.NavigateTo("/");
    }
    public async void CancelOrder()
    {
        string deleteOrder = $"api/Orders?idOrder={order.Id}";
        var response = await HttpClient.DeleteAsync(deleteOrder);
        Navigation.NavigateTo("/");
    }


    public async Task<bool> GetPurchases()
    {
        order.Total = 0;
        string getPurchasesByOrder = string.Format("/api/Purchases?idOrder={0}", id);
        Purchases = (await HttpClient.GetFromJsonAsync<Response<Purchase>>(getPurchasesByOrder)).Content;
        //obtenemos la lista de compras de una orden especifica
        foreach (var purchase in Purchases) { order.Total += purchase.SubTotal; } //para sumar cuando dio el total
        return true;
    }

    protected async override Task OnInitializedAsync()
    {
        if (id != 0) //si es que seleccionamos un pedido
        {
            order = (await HttpClient.GetFromJsonAsync<Response<Order>>($"api/Orders?id={id}")).Content.First(); //obtenemos el pedido mediante su id
            bool ready = await GetPurchases();
            if (ready) await InvokeAsync(StateHasChanged);
        }
        else //si no creamos un nuevo pedido
        {
            var response = await HttpClient.PostAsJsonAsync<Order>("/api/Orders/add",
                new Order { Total = 0, ClientId = 1, DateMade = DateTime.Now }); //introducimos el nuevo pedido
            order = (await response.Content.ReadFromJsonAsync<Response<Order>>()).Content.First(); //obtenemos el pedido creado
            if (order.Id != 0) await InvokeAsync(StateHasChanged); //para auq erecargue el html
        }

        if (idArticle != 0)
        {
            string getArticlebyId = string.Format("/api/Articles?id={0}", idArticle);
            var article = (await HttpClient.GetFromJsonAsync<Response<Article>>(getArticlebyId)).Content.First(); //obtenemos el articulo mediante su codigo
            codeArticle = article.Code.ToString(); descriptionArticle = article.Description;
        }
    }



}
